APP_NAME=trustartup-business-logic
APP_ENV=production
APP_KEY=yIcTghI5UqQY6z3IjTCupEbHMYPH73gJ
APP_DEBUG=false
APP_URL=http://trustartup-business-logic

API_BUSINESS_CONTENT=http://localhost:8086
API_FEED_CONTENT=http://localhost:8081
API_MEDIA=http://localhost:8083
API_USER=http://localhost:8084
API_PAYMENT=http://localhost:8091

PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQBsAJJ+O3fTxnPlXCleUCLG
leHad+0u/4P+qKoul2Sd49b6Ta/4OfK/NCGDhzCSEYSqXBIiEPEuUtKJgk8xvzBw
VUDOG8E1VU8NDPN1/uSUz7+1yFO4DpFQA/VgQaPXBhxO6JnpyDyHvX/4UuBs4QGh
VAZVhWdnJmRFcvBB98HoA2/x5Lkv78nAdT65gXWKdVe1eo+61nH5g8JwHEKJ6sPi
6kzPyVHI36mK0PcManhMBWQOupj1p0NWQjuphMLkJyMpeN2FiqT1GTUnOKe1M5Pb
jrUycVRhYZFM6wDYEMdooQR46Ie/tLXyr4k47qlI+LkxIAkkAerlF9D8uqEm7R2t
AgMBAAE=
-----END PUBLIC KEY-----"
