services:
  business-logic:
    build: .
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./:/var/www/html/
    environment:
      - APP_ENV=production
      - APP_KEY=yIcTghI5UqQY6z3IjTCupEbHMYPH73gJ
      - APP_DEBUG=true
      - API_BUSINESS_CONTENT=http://host.docker.internal:8086
      - API_FEED_CONTENT=http://host.docker.internal:8081
      - API_MEDIA=http://host.docker.internal:8083
      - API_USER=http://host.docker.internal:8084
      - API_PAYMENT=http://host.docker.internal:8091
      - |
        PUBLIC_KEY=
        -----BEGIN PUBLIC KEY-----
        MIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQBsAJJ+O3fTxnPlXCleUCLG
        leHad+0u/4P+qKoul2Sd49b6Ta/4OfK/NCGDhzCSEYSqXBIiEPEuUtKJgk8xvzBw
        VUDOG8E1VU8NDPN1/uSUz7+1yFO4DpFQA/VgQaPXBhxO6JnpyDyHvX/4UuBs4QGh
        VAZVhWdnJmRFcvBB98HoA2/x5Lkv78nAdT65gXWKdVe1eo+61nH5g8JwHEKJ6sPi
        6kzPyVHI36mK0PcManhMBWQOupj1p0NWQjuphMLkJyMpeN2FiqT1GTUnOKe1M5Pb
        jrUycVRhYZFM6wDYEMdooQR46Ie/tLXyr4k47qlI+LkxIAkkAerlF9D8uqEm7R2t
        AgMBAAE=
        -----END PUBLIC KEY-----
    ports:
      - "8090:80"
